html, body {

	background-color : #121212;
	margin: 0;
	height: 100%;
	width:  100%;
}


p, h1 {
	margin: 2.5% 5% 2.5% 5% ;
}

p, pre {

	font-family: sans-serif;
	font-size: 1em;

}

.canvas_holder {

	display: inline-block;
	border: 1px solid darkgray;
	padding: 20px;
	background: black;
	margin: 2.5% 5% 2.5% 5% ;
	
}

.panel {
	background-color: darkgray;
	text-align: center;
}

.center {
	display: inline-block;
}

