html, body {

	background-color : #121212;
	margin: 0;
	height: 100%;
	width:  100%;
}



.canvas_holder {

	display: inline-block;
	
}

.panel {
	background-color: darkgray;
	text-align: center;
}

.center {
	display: inline-block;
}

.go, .stop {

	
}


